<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        LiveDemo
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Active Link<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <p class="navbar-text navbar-right">Signed in as: </p>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<div class="container-fluid">
	<h2 id="title">Welcome to Ember.js</h2>
	{{outlet}}
</div>
